/*------------------------------------*\
    #LAYOUT
\*------------------------------------*/



body {
	font-family: $sky;
	font-size: 1em;
	-webkit-font-smoothing: antialiased;
}

body, 
html {
	height: 100%;
}