 /*------------------------------------*\
     #NAVIGATION
 \*------------------------------------*/




.main, 
.header {
  position: relative;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

@media only screen and (max-width: 767px) {
  .main.nav-is-visible, .header.nav-is-visible {
    @include translate(260px, 0);
  }
}

.main {
  width: 100%;
  height: 100%;
  z-index: 2;
  position: relative;
  top: 0;
  margin-top: -50px;

  @include mf($bp-med) {
    margin-top: -80px;
  }
}

.header {
  height: 50px;
  background: $white;
  z-index: 3;

  @include mf($bp-med) {
    height: 80px;

    @include clearfix;
  }
}

.logo {
  display: block;
  margin: auto;
  width: 50px;
  
  @include mf($bp-med) {
    float: left;
  }

  img {
    width: 100%;
    width: 50px;

    @include mf($bp-med) {
      width: auto;
    }
  }
}

.header__buttons {
  position: absolute;
  display: inline-block;
  left: 5%;
  top: 0;

  li {
    display: inline-block;
  }
}

.trigger-button {
  position: relative;
  display: block;
  width: 44px;
  height: 44px;
  overflow: hidden;
  white-space: nowrap;
  color: transparent;
  z-index: 3;
  
  @include mf($bp-med) {
    display: none;  
  }
  
}

.trigger-button span, 
.trigger-button span::before, 
.trigger-button span::after {
  /* hamburger icon in CSS */
  position: absolute;
  display: inline-block;
  height: 3px;
  width: 24px;
  background: #2e3233;
}

.trigger-button span {
  /* line in the center */
  position: absolute;
  top: 50%;
  right: 10px;
  margin-top: -2px;
  -webkit-transition: background 0.3s 0.3s;
  -moz-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}

.trigger-button span::before, 
.trigger-button span::after {
  /* other 2 lines */
  content: '';
  right: 0;

  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;

  @include transform-origin (0% 50%);

  -webkit-transition: -webkit-transform 0.3s 0.3s;
  -moz-transition: -moz-transform 0.3s 0.3s;
  transition: transform 0.3s 0.3s;
}

.trigger-button span::before {
  /* menu icon top line */
  top: -6px;
}

.trigger-button span::after {
  /* menu icon bottom line */
  top: 6px;
}

.trigger-button.nav-is-visible span {
  /* hide line in the center */
  background: rgba(46, 50, 51, 0);
}

.trigger-button.nav-is-visible span::before, .trigger-button.nav-is-visible span::after {
  /* keep visible other 2 lines */
  background: #2e3233;
}

.trigger-button.nav-is-visible span::before {
  -webkit-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -moz-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -ms-transform: translateX(4px) translateY(-3px) rotate(45deg);
  -o-transform: translateX(4px) translateY(-3px) rotate(45deg);
  transform: translateX(4px) translateY(-3px) rotate(45deg);
}

.trigger-button.nav-is-visible span::after {
  -webkit-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -moz-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -ms-transform: translateX(4px) translateY(2px) rotate(-45deg);
  -o-transform: translateX(4px) translateY(2px) rotate(-45deg);
  transform: translateX(4px) translateY(2px) rotate(-45deg);
}

.nav__list, .nav__list ul {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 260px;
  background: $white;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  z-index: 1;
  @include translate (0,0);
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}

.nav__list a, .nav__list ul a {
  display: block;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  color: $blue;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  border-bottom: 1px solid #d1d1d1;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  will-change: transform, opacity;
  @include transition (opacity, 0.3s, ease);
}

.nav__list.is-hidden, 
.nav__list ul.is-hidden {
  @include translate (100%, 0);
}

.nav__list.moves-out > li > a, 
.nav__list ul.moves-out > li > a {
  /* push the navigation items to the left - and lower down opacity - when secondary nav slides in */
  @include translate (100%, 0);
  opacity: 0;
}

.nav__list .cd-nav-gallery .cd-nav-item img {
  position: absolute;
  display: block;
  height: 40px;
  width: auto;
  left: 20px;
  top: 50%;
  margin-top: -20px;
}

.nav__list .cd-nav-icons .cd-nav-item {
  padding-left: 75px;
}

.nav__list .cd-nav-icons .cd-nav-item p {
  color: #2e3233;
  font-size: 1.3rem;
  /* hide description on small devices */
  display: none;
}

.nav__list .cd-nav-icons .cd-nav-item::before {
  /* item icon */
  content: '';
  display: block;
  position: absolute;
  left: 20px;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 40px 40px;
}

@media only screen and (max-width: 767px) {
  .nav__list {
    /* by default .nav__list is hidden - trick for iOS devices where you can see the navigation if you pull down */
    visibility: hidden;
    -webkit-transition: visibility 0s 0.3s;
    -moz-transition: visibility 0s 0.3s;
    transition: visibility 0s 0.3s;
  }

  .nav__list.nav-is-visible {
    visibility: visible;
    -webkit-transition: visibility 0s 0s;
    -moz-transition: visibility 0s 0s;
    transition: visibility 0s 0s;
  }
}

@media only screen and (min-width: 768px) {
  .nav__list {
    position: static;
    height: auto;
    width: auto;
    overflow: visible;
    background: transparent;
  }
  .nav__list::after {
    clear: both;
    content: "";
    display: table;
  }
  .nav__list.moves-out > li > a {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .nav__list ul {
    position: static;
    height: auto;
    width: auto;
    background: transparent;
    overflow: visible;
    z-index: 3;
  }
  .nav__list ul.is-hidden {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }
  .nav__list ul.moves-out > li > a {
    /* reset mobile style */
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
  .nav__list > li {
    float: left;
    margin-left: 3em;
  }
  .nav__list > li > a {
    /* main navigation buttons style */
    position: relative;
    display: inline-block;
    height: 80px;
    line-height: 80px;
    padding: 0 10px;
    color: #333;
    overflow: visible;
    border-bottom: none;
    @include transition (all, 0.3s, ease);

    &:hover {
      color: $blue;
    }

    &.selected {
      color: $blue;
    }
  }

  .nav__list .go-back, .nav__list .see-all {
    display: none;
  }

  .nav__list .nav__list--secondary {
    /* dropdown menu style */
    position: absolute;
    top: 80px;
    width: 100%;
    padding: 20px;
    background: $white;

    @include translate (0, 0);

    @include transition (all, 0.3s, ease);
  }


  .nav__list .nav__list--secondary.is-hidden, .nav__list .cd-nav-gallery.is-hidden, .nav__list .cd-nav-icons.is-hidden {
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
  }
  .nav__list .nav__list--secondary > .see-all, .nav__list .cd-nav-gallery > .see-all, .nav__list .cd-nav-icons > .see-all {
    /* this is the BIG See all button at the bottom of the dropdown menu */
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 80px;
    width: 100%;
    overflow: hidden;
    /* reset some inherited style */
    margin: 0;
    padding: 0;
  }
  .nav__list .nav__list--secondary > .see-all a, .nav__list .cd-nav-gallery > .see-all a, .nav__list .cd-nav-icons > .see-all a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    font-size: 2.2rem;
    font-weight: bold;
    text-align: center;
    line-height: 80px;
    border-top: 1px solid #e2e3df;
    /* reset some inherited style */
    border-bottom: none;
    margin: 0;
    padding: 0;
    -webkit-transition: color 0.2s, background 0.2s, border 0.2s;
    -moz-transition: color 0.2s, background 0.2s, border 0.2s;
    transition: color 0.2s, background 0.2s, border 0.2s;
  }


  .nav__list .nav__list--secondary > li {
    /* change the height according to your needs - you can even set height: auto */
    height: 340px;
    /* here you set the number of columns - use width percentage */
    width: 23%;
    float: left;
    margin-right: 2.66%;
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
  }

  .nav__list .nav__list--secondary > li:nth-child(4n+2) {
    /* +2 because we have 2 list items with display:none */
    margin-right: 0;
    border-right: none;
  }

  .nav__list .nav__list--secondary > li > a {
    /* secondary nav title */
    color: #69aa6f;
    font-weight: bold;
    font-size: 1.6rem;
    margin-bottom: .6em;
  }

  .nav__list .nav__list--secondary a {
    height: 30px;
    line-height: 30px;
    color: #2e3233;
    border-bottom: none;
    font-size: 1.4rem;
  }

  .nav__list .nav__list--secondary a:hover {
    color: $blue;
    @include transition (color, 0.2s, ease);
  }

  .nav__list .nav__list--secondary ul {
    /* Force Hardware Acceleration in WebKit */
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
  }

  .nav__list .nav__list--secondary ul ul {
    /* tertiary navigation */
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .nav__list .nav__list--secondary ul ul.is-hidden {
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }

  .nav__list .nav__list--secondary ul ul .go-back {
    display: block;
  }

  .nav__list .nav__list--secondary ul ul .go-back a {
    color: transparent;
  }

  .nav__list .nav__list--secondary ul ul .see-all {
    display: block;
  }

  .nav__list .nav__list--secondary .moves-out > li > a {
    /* push the navigation items to the left - and lower down opacity - when tertiary nav slides in */
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  .nav__list .cd-nav-gallery li {
    /* set here number of columns - use width percentage */
    width: 22%;
    float: left;
    margin: 0 4% 40px 0;
  }
  .nav__list .cd-nav-gallery li:nth-child(4n+2) {
    /* +2 because we have two additional list items with display:none */
    margin-right: 0;
  }
  .nav__list .cd-nav-gallery .cd-nav-item {
    border-bottom: none;
    padding: 0;
    height: auto;
    line-height: 1.2;
  }
  .nav__list .cd-nav-gallery .cd-nav-item img {
    position: static;
    margin-top: 0;
    height: auto;
    width: 100%;
    margin-bottom: .6em;
  }
  .nav__list .cd-nav-gallery .cd-nav-item h3 {
    color: #69aa6f;
    font-weight: bold;
    padding: 0 .4em;
  }
  .nav__list .cd-nav-icons li {
    /* set here number of columns - use width percentage */
    width: 32%;
    float: left;
    margin: 0 2% 20px 0;
  }
  .nav__list .cd-nav-icons li:nth-child(3n+2) {
    /* +2 because we have two additional list items with display:none */
    margin-right: 0;
  }
  .nav__list .cd-nav-icons .cd-nav-item {
    border-bottom: none;
    height: 80px;
    line-height: 1.2;
    padding: 24px 0 0 85px;
    position: relative;
  }
  .nav__list .cd-nav-icons .cd-nav-item:hover {
    background: #f6f6f5;
  }
  .nav__list .cd-nav-icons .cd-nav-item h3 {
    color:  #69aa6f;
    font-weight: bold;
  }
  .nav__list .cd-nav-icons .cd-nav-item p {
    display: block;
  }
  .nav__list .cd-nav-icons .cd-nav-item::before {
    left: 25px;
  }
}
.has-children > a, .go-back a {
  position: relative;
}
.has-children > a::before, .has-children > a::after, .go-back a::before, .go-back a::after {
  /* arrow icon in CSS - for element with nested unordered lists */
  content: '';
  position: absolute;
  top: 50%;
  margin-top: -1px;
  display: inline-block;
  height: 2px;
  width: 10px;
  background: #464c4e;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.has-children > a::before, .go-back a::before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.has-children > a::after, .go-back a::after {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}



.has-children > a {
  padding-right: 40px;
}

.has-children > a::before, .has-children > a::after {
  /* arrow goes on the right side - children navigation */
  right: 20px;
  -webkit-transform-origin: 9px 50%;
  -moz-transform-origin: 9px 50%;
  -ms-transform-origin: 9px 50%;
  -o-transform-origin: 9px 50%;
  transform-origin: 9px 50%;
}

.nav__list .go-back a {
  padding-left: 40px;
}
.nav__list .go-back a::before, .nav__list .go-back a::after {
  /* arrow goes on the left side - go back button */
  left: 20px;
  -webkit-transform-origin: 1px 50%;
  -moz-transform-origin: 1px 50%;
  -ms-transform-origin: 1px 50%;
  -o-transform-origin: 1px 50%;
  transform-origin: 1px 50%;
}

@include mf($bp-med) {
  .has-children > a::before, .has-children > a::after {
    right: 15%;
  }

  .nav__list > .has-children > a {
    /* main navigation arrows on larger devices */
    padding-right: 30px !important;
  }
  .nav__list > .has-children > a::before, .nav__list > .has-children > a::after {
    width: 9px;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    background: #c9cbc4;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transition: width 0.3s, -webkit-transform 0.3s;
    -moz-transition: width 0.3s, -moz-transform 0.3s;
    transition: width 0.3s, transform 0.3s;
  }
  .nav__list > .has-children > a::before {
    right: 12px;
  }
  .nav__list > .has-children > a::after {
    right: 7px;
  }
  .nav__list > .has-children > a.selected::before, .nav__list > .has-children > a.selected::after {
    width: 14px;
  }
  .nav__list > .has-children > a.selected::before {
    -webkit-transform: translateX(5px) rotate(-45deg);
    -moz-transform: translateX(5px) rotate(-45deg);
    -ms-transform: translateX(5px) rotate(-45deg);
    -o-transform: translateX(5px) rotate(-45deg);
    transform: translateX(5px) rotate(-45deg);
  }
  .nav__list > .has-children > a.selected::after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .nav__list--secondary > .has-children > a::before, .nav__list--secondary > .has-children > a::after {
    /* remove arrows on secondary nav titles */
    display: none;
  }

  .nav__list .go-back a {
    padding-left: 20px;
  }
  .nav__list .go-back a::before, .nav__list .go-back a::after {
    left: 1px;
  }
}


/* -------------------------------- 

support for no js 

-------------------------------- */
.no-js .nav__list {
  position: relative;
  height: auto;
  width: 100%;
  overflow: visible;
  visibility: visible;
  z-index: 2;
}

.no-js .cd-search {
  position: relative;
  top: 0;
  opacity: 1;
  visibility: visible;
}

@media only screen and (min-width: 768px) {
  .no-js .nav__list {
    position: absolute;
    z-index: 3;
    display: inline-block;
    width: auto;
    top: 0;
    right: 150px;
    padding: 0;
  }

  .no-js .nav-is-fixed .nav__list {
    position: fixed;
  }
}
