/*------------------------------------*\
    #VARIABLES
\*------------------------------------*/




/**
  * Font Families
*/



$luna: 'luna';
$sky: 'sky';
$sky-bold: 'sky-bold';
$sky-italic: 'sky-italic';
$sky-med: 'sky-med';





/**
* 1. bp-small is mainly for devices below 480px (mainly iPhones etc)
* 2. bp-med is for tablet devices i.e. iPad / iPad Mini
* 3. bp-large is for laptops and up we wont go anymore than this
*/


$bp-small: 480px;
$bp-med: 768px;
$bp-large: 1200px;
$bp-xlarge: 1922px;





/**
* 1. Primary colour is the cherry red colour
* 2. Secondary colour is the black colour
* 3. Tertiary colour is the yellow colour
*/


$blue: #0070a5;
$white: #fff;
$black: #000;
$color-1: #33414a; // Limed Spruce
$color-2: #7e4d7e; // Strikemaster
$color-3: #ffffff; // White





/**
  * Default font size is 16px.
*/

$base-font-size: 16px;